    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <h3>All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</h3>
                        <h3><small>Follow me on <a href="https://twitter.com/mholland1337" target="_blank">Twitter</a>, <a href="https://github.com/mholland1337" target="_blank">Github</a> and <a href="https://plus.google.com/+MaxHolland1337" target="_blank">Google+</a>.</small></h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>